In [1]:
import pandas as pd

In [2]:
xlsx_file = "https://storage.googleapis.com/learn_pd_like_tidyverse/gapminder.xlsx"
gapminder = pd.read_excel(xlsx_file)

In [3]:
gapminder[gapminder['country'] == 'Taiwan']

     country continent  year  lifeExp       pop     gdpPercap
1500  Taiwan      Asia  1952    58.50   8550362   1206.947913
1501  Taiwan      Asia  1957    62.40  10164215   1507.861290
1502  Taiwan      Asia  1962    65.20  11918938   1822.879028
1503  Taiwan      Asia  1967    67.50  13648692   2643.858681
1504  Taiwan      Asia  1972    69.39  15226039   4062.523897
1505  Taiwan      Asia  1977    70.59  16785196   5596.519826
1506  Taiwan      Asia  1982    72.16  18501390   7426.354774
1507  Taiwan      Asia  1987    73.40  19757799  11054.561750
1508  Taiwan      Asia  1992    74.26  20686918  15215.657900
1509  Taiwan      Asia  1997    75.25  21628605  20206.820980
1510  Taiwan      Asia  2002    76.99  22454239  23235.423290
1511  Taiwan      Asia  2007    78.40  23174294  28718.276840

## 亞洲各年的GDP和壽命

In [7]:
gapminder[gapminder['continent'] == 'Asia'].groupby(by = 'year')[['lifeExp', 'gdpPercap']].mean()

        lifeExp     gdpPercap
year
1952  46.314394   5195.484004
1957  49.318544   5787.732940
1962  51.563223   5729.369625
1967  54.663640   5971.173374
1972  57.319269   8187.468699
1977  59.610556   7791.314020
1982  62.617939   7434.135157
1987  64.851182   7608.226508
1992  66.537212   8639.690248
1997  68.020515   9834.093295
2002  69.233879  10174.090397
2007  70.728485  12473.026870